html {
  width: auto;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
}

body > * + * {
  margin-top: 3rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  padding: 0px;
  margin: 0px;

  margin-right: 50%;
}

nav > ul > li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
